<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fansin.spring.cloud.jta.mybatis.publisher.mapper.base.PublisherBaseMapper">


    <insert id="insertPublisher" >
        INSERT INTO publisher.publisher
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="name!=null">
                        `name`,
                    </if>
                    <if test="send_time!=null">
                        `send_time`,
                    </if>
                    <if test="result!=null">
                        `result`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="name!=null">
                    #{name},
                </if>
                <if test="send_time!=null">
                    #{send_time},
                </if>
                <if test="result!=null">
                    #{result},
                </if>
        </trim>
        );
    </insert>


    <update id="updatePublisher">
        UPDATE publisher.publisher
        SET
        <trim suffixOverrides=",">
            <if test="name != null and name!=''">
                `name` = #{name},
            </if>
            <if test="send_time != null">
                `send_time` = #{send_time},
            </if>
            <if test="result != null">
                `result` = #{result},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>


    <select id="queryPublisher" resultType="com.fansin.spring.cloud.jta.mybatis.publisher.entity.Publisher">
        select
        <include refid="baseResult"></include>
        from  publisher.publisher
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="name != null and name!=''">
                `name` = #{name} and
            </if>
            <if test="send_time != null">
                `send_time` = #{send_time} and
            </if>
            <if test="result != null">
                `result` = #{result} and
            </if>
            <if test = "(_parameter instanceof com.fansin.spring.cloud.jta.mapper.publisher.entity.Publisher$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="nameList != null">
                    `name` in
                    <foreach collection="nameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyName!=null and fuzzyName.size()>0">
                    (
                    <foreach collection="fuzzyName"  separator="or" item="item">
                        `Name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyName!=null and rightFuzzyName.size()>0">
                    (
                    <foreach collection="rightFuzzyName"  separator="or" item="item">
                        `Name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="send_timeList != null">
                    `send_time` in
                    <foreach collection="send_timeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="send_timeSt !=null and send_timeEd!=null">
                    (`send_time` >= #{send_timeSt} and `send_time` &lt; #{send_timeEd}) and
                </if>
                <if test="resultList != null">
                    `result` in
                    <foreach collection="resultList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryPublisherLimit1" resultType="com.fansin.spring.cloud.jta.mybatis.publisher.entity.Publisher">
        select
        <include refid="baseResult"></include>
        from  publisher.publisher
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="name != null and name!=''">
                `name` = #{name} and
            </if>
            <if test="send_time != null">
                `send_time` = #{send_time} and
            </if>
            <if test="result != null">
                `result` = #{result} and
            </if>
            <if test = "(_parameter instanceof com.fansin.spring.cloud.jta.mapper.publisher.entity.Publisher$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="nameList != null">
                    `name` in
                    <foreach collection="nameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="send_timeList != null">
                    `send_time` in
                    <foreach collection="send_timeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="send_timeSt !=null and send_timeEd!=null">
                (`send_time` >= #{send_timeSt} and `send_time` &lt; #{send_timeEd}) and
            </if>
                <if test="resultList != null">
                    `result` in
                    <foreach collection="resultList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.fansin.spring.cloud.jta.mapper.publisher.entity.Publisher$QueryBuilder) == true">

                <if test="fetchFields==null">
                    *,
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        *,
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        *,
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.name==true">
                        `name`,
                    </if>
                    <if test="fetchFields.fetchFields.send_time==true">
                        `send_time`,
                    </if>
                    <if test="fetchFields.fetchFields.result==true">
                        `result`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.name==null">
                        `name`,
                    </if>
                    <if test="fetchFields.excludeFields.send_time==null">
                        `send_time`,
                    </if>
                    <if test="fetchFields.excludeFields.result==null">
                        `result`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.fansin.spring.cloud.jta.mapper.publisher.entity.Publisher$QueryBuilder) == false" >
                *,
            </if>

        </trim>
    </sql>

</mapper>