<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fansin.spring.cloud.mybatis.mapper.MybatisMapper">

    <insert id="insert">
        INSERT INTO mybatis (name,number,create_time) VALUES (
          #{name},
          #{number},
          #{createTime}
        )
    </insert>

    <update id="update">
        UPDATE mybatis
        SET create_time = #{createTime}
        WHERE mybatis_id = #{mybatisId}
    </update>

    <select id="queryById" resultType="com.fansin.spring.cloud.mybatis.entity.Mybatis" parameterType="long">
        SELECT mybatis_id,name,number,create_time
        FROM mybatis
        WHERE mybatis_id=#{mybatisId}
    </select>

    <select id="queryAll" resultType="com.fansin.spring.cloud.mybatis.entity.Mybatis">
        SELECT mybatis_id,name,number,create_time
        FROM mybatis
        ORDER BY create_time DESC
        LIMIT #{offset},#{limit}
    </select>


</mapper>